body{
  background: #222;
  color: #fff;
  text-align: center;
}
div{
  height: 50px;
  width: 50px;
  margin: 10px;
  background-color: blue;
  display: inline-block;
}
section{
  display: inline-block;
  background-color: yellow;
  margin: 10px auto;
  padding: 10px;
}

.additor{
  width: 15px;
  background-color: green;
}
