body{
  background: #222;
  color: #fff;
  text-align: center;
}
div{
  height: 50px;
  width: 50px;
  margin: 1px;
  background-color: blue;
  display: inline-block;
}
section{
  display: inline-block;
  background-color: #333;
  margin: 10px auto;
  padding: 10px;
}

.additor{
  width: 15px;
  background-color: inherit;
}

.additor:hover{
  width: 30px;
}

#end{
  font-size: 50px;
  background-color: black;
}