body {
    background: #222;
    color: #fff;
    text-align: center;
}

div,
h2,
h3 {
    display: inline-block;
}

#board {
    border-radius: 50px;
    display: inline-block;
    background-color: #333;
    margin: 15px auto;
    padding: 10px;
}

#points {
    font-size: 30px;
    border: 3px ridge black;
    border-radius: 45px;
    margin: 2px;
    width: 300px;
    height: 30px;
    text-align: right;
    line-height: 30px;
    padding: 20px;
}

#max_element {
    background-color: darkred;
}

#end {
    font-size: 50px;
    background-color: black;
}

#points-label {
    width: 200px;
    text-align: left;
    margin-left: 40px;
    font-size: 12px;
}

#next-elem-label {
    font-size: 12px;
    margin-left: 115px;
}

.element {
    height: 28px;
    width: 50px;
    padding: 11px;
    margin: 2px;
    border-radius: 30px;
    font-size: 25px;
    background-color: #174001;
    border: 3px ridge black;
}

.additor {
    width: 10px;
    padding: 0;
    background-color: inherit;
    -webkit-transition: width .2s;
    transition: width .2s;
    color: #333;
}

.additor:hover {
    width: 50px;
    -webkit-transition: width .5s;
    transition: width .5s;
}

.chart_box {
    margin: auto;
    height: 300px;
    min-width: 300px;
    width: 80%;
    background-color: #222;
    border: 5px ridge #333;
    border-radius: 10px;
}